<div class="container">
    <div class="row centered-form">
        <div class=" col-sm-12 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Creer votre compte
                        <small>C'est gratuit!</small>
                    </h3>
                </div>
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control input-sm', 'placeholder': 'Nom'}}) }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.prenom, { 'attr' : { 'class' : 'form-control input-sm', 'placeholder':'Prenom'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control input-sm', 'placeholder': 'votre email'}}) }}
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control input-sm', 'placeholder': 'Mot de passe'}}) }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control input-sm', 'placeholder': 'Confimez le mot de passe '}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}

                </div>
                <input type="submit" value="Céer un compte" class="btn btn-success btn-block">
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>

