<!doctype html>
<html>
<head>

</head>

<body>
<p>Bonjour {{ user.prenom }}</p><br>
<p>Nous avons pris en compte l'achat de votre billet :</p>
<p>Voici un recapitulatif</p>
<p>Depart : {{ voyage.GareDepart }} -> {{ voyage.HeureDepart }} à {{ voyage.VilleDepart }}</p>
<p>Arrivée : {{ voyage.GareArrivee }} -> {{ voyage.HeureArrivee }} à {{ voyage.VilleArrivee }}</p>
<p>Numero de train : {{ voyage.TrainId }}</p>
</body>

</html>